//http://orig04.deviantart.net/2362/f/2013/184/9/7/gato_pusheen_png_3_by_vaniiina-d6bsuw2.png
#image{
position:absolute;
  width: 300px;
}
.bar{
    margin-top:15px;
    background-color:#4286f4;
    height:100px;
    width:100%;}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.blackout{
    background-color: #4286f4;
}
.pixx{
    //background-image:url('http://i.imgur.com/Tx84VSX.jpg');
    //background-image:url('https://i.ytimg.com/vi/gKIFk8BJsDc/maxresdefault.jpg');
    //background-color: #4286f4;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.wander
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    position:absolute;
  width: 300px;
}
.flower{
    //font-family: 'Indie Flower', cursive;
    font-family:Gill, Helvetica, sans-serif;
    color: #090909;
    letter-spacing: 0.1em;
    font-size: 5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    //text-shadow: 20px 20px  6px #888888;
    //text-shadow: 6px 6px  6px #5555bb;
    //border-radius: 50px;
    //width: 70%;
}
p.linkers{
    font-family:Gill, Helvetica, sans-serif;
    //font-family: 'Indie Flower', cursive;
    //color: #d3d3d3;
    font-size: 1.4em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    //background-color: #0000cc;
    border-radius: 50px;
    width: 70%;
    
}
p{
    font-family:Gill, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: #000000;
    text-shadow: 2px 2px  6px #cccccc;
}

a { 
    color: #0000ff;
    text-shadow: 2px 2px  6px #0000ff;
}
.whitey{
    background-color: #ffffff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 100px 100px 100px;
}
.piclink1{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
 @-webkit-keyframes example {
  0%{width:100px;height:100px;}
  16%{width:150px;height:150px;}
  33%{width:100px;height:100px;}
  100%{width:100px;height:100px;}
}
.piclink2{
     width: 70px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes example2 {
  0%{width:100px;height:100px;}
  33%{width:100px;height:100px;}
  49%{width:150px;height:150px;}
  66%{width:100px;height:100px;}
  100%{width:100px;height:100px;}
}
.piclink3{
     width: 70px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes example3 {
  0%{width:100px;height:100px;}
  66%{width:100px;height:100px;}
  79%{width:150px;height:150px;}
  100%{width:100px;height:100px;}
}
#twenty{
    width: 20%;
    height: 40px;
}
table.center{
    margin: 2em;
    width:80%;
    margin-left:auto; 
    margin-right:auto;
}
td{
    padding: 15px;
    text-align: left;
    width: 50%;
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
}
hr{
    width: 70%;
}
h1.center{
    text-align: center;
}
